*{margin:0; padding:0; box-sizing:border-box;}

html{
    font-size:10px;
}

body{
    font-family:"NexaScript-Regular", cursive;
}

section{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    position:relative;
}

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:40px 80px;
    z-index:6;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

header a{
    font-size:4rem;
    text-decoration:none;
    color:#fff;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.45);
    text-transform:capitalize;
    opacity:1;
    visibility:visible;
}

section.active header a{
    opacity:0;
    visibility:hidden;
}

.toggle{
    background:url(../img/menu.png) no-repeat center;
    width:45px;
    height:30px;
    position:absolute;
    cursor:pointer;
    z-index:6;
    top:40px;
    right:80px;
}

.toggle::before{
    content:'Menu';
    font-family:"Myriad Pro", sans-serif;
    text-transform:uppercase;
    color:#b6b6b6;
    background-color:#fff;
    font-size:1.6rem;
    padding:6px 15px;
    position:absolute;
    right:55px;
    letter-spacing:3px;
    z-index:6;
}

.toggle.active{
    background:url(../img/menu-close.png) no-repeat center;
}

.toggle.active::before{
    content:'Close';
}

.glass{
    position:absolute;
    height:100%;
    z-index:5;
}

section.active .glass{
    width:100%;
    backdrop-filter: blur(15px);
}

section .content{
    position:relative;
    z-index:3;
    text-align:center;
    transition:.25s;
    transition-delay:.1s;
}

section .content h2{
    font-family:Rosalinda, cursive;
    font-size:9.6rem;
    color:#fff;
    line-height: 0.75;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.45);
}

section .content h2 span{
    background-color:rgba(255, 255, 255, 0.5);
    font-size:3.6rem;
    padding:10px;
    border-radius:10px;
    color:#020000;
    font-weight:700;
    font-family:"NexaScript-Regular", cursive;
}

section.active .content{
    opacity:0;
    visibility:hidden;
    transform:translateX(-300px);
}

section video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

section .social{
    list-style:none;
    position:absolute;
    bottom:46px;
    right:80px;
    display:flex;
    font-family:'Myriad Pro', sans-serif;
}

section .social li{
    transition:0.5s;    
}

section .social li + li{
    margin-left:18px;
}

section .social a{
    display:inline-block;
    padding:10px 8px;
    background-color:#fff;
    color:#111;
    font-size:1.4rem;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:400;
}

section .social a:hover{
    background-color:#111;
    color:#fff;
}

section.active .social li{
    opacity:0;
    visibility:hidden;
    transform:translateY(200px);
}

section .nav_menu{
    list-style:none;
    position:absolute;
    z-index:11;
    font-family:'Times New Roman', Times, serif;
}

section .nav_menu li{
    text-align:center;
    opacity:0;
    visibility:hidden;
    transition:0.5s;
    transform:translateX(300px);
}

section .nav_menu li + li{
    margin-top:15px;
}

section .nav_menu li a{
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size:2.4rem;
    display:inline-block;
    color:#020000;
    background-color:#fff;
    padding:8px 25px;
}

section .nav_menu li a:hover{
    color:#fff;
    background-color:#020000;
    padding:8px 16px;
    transition:.5s;
}

section.active .nav_menu li{
    opacity:1;
    visibility:visible;
    transition:1s;
    transform:translatex(0px);
}


@media (max-width: 590px){
    .toggle::before{
        display: none;
    }

    .toggle.active::before{
        display: none;
    }

    header{
        padding: 10px;    
    }

    header a{
        width: 50px;
        font-size: 2rem;
    }

    .toggle{
        top: 20px;
        right: 20px;
    }

    section .content h2{
        font-size: 5rem;
        margin-left: 13px;
    }

    section .content h2 span{
        font-size: 2rem;
    }

    section .social{
        bottom: 23px;
        right: 15px;
    }

    section .social a{
        font-size: 1rem;
    }


}